*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-image: url('img/cover\ 2.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.header{
    height: 100vh;
    width: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:10px ;
    padding-left: 5%;
    padding-right: 5%;
}

.name a{
    color: rgb(214, 175, 175);
    font-size: 28px;
    font-family: 'Lucida Sans';
    text-decoration: none;
}
/* header .name :hover{
    transform: translateY(-10px);
} */
#site{
list-style: none;
display: inline-block;
padding: 20px 10px;
position: relative;
}

#site::after{
   content: '';
   height: 3px;
   width:0 ;
   background:rgb(105, 103, 206);
   position: absolute;
   left: 0;
   bottom: 4px; ;
   transition:.5s ;
}
#site:hover::after{
    width: 100%;
}

nav ul li a{
color: rgb(13, 34, 44);
text-decoration: none;
font-weight: bold;
float: left;
justify-content: center;
}
nav ul li a:hover{
color:rgb(245, 235, 235);
transition: .3s;
}

.content{
    display: flex;
    padding-top: 150px;
    align-items: center;
    margin-left: 75px;
    color: rgb(255, 255, 255);
    margin-top: -101px;
    width: 100%;
    flex-basis: 50%;


}
.head{
    flex-basis: 50%;
    margin-right: -75px;

}
.intro p{
    width: 65%;
}

/* 
.content p{
    background-color: rgb(46, 50, 58);
    opacity: 70%;
    border-radius: 6%;
} */

.head h1::after{
    content: '';
    height: 4px;
    width:0 ;
    background:aquamarine;
    position: absolute;
    left: 0;
    bottom: 420px; ;
    transition:.5s ;
 }
 .head h1:hover:after{
    margin-left: 75px;
     width: 33%;
 }
 .card {
    width: 350px;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
    background-position: center;
    background-size: cover; 
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    /* transform: -.5s; */
 }

 .card img {
    width: 300px;
    height: 200px;
    display: inline-block;
    border-radius: 40px;
    box-sizing: border-box;
 }
 .card :hover{
    transform: translateY(-10px);
 }
 .card h3{
    justify-content: center;
    align-items: center;

 }

 /* .card1{
    background-image: url('automation.jpg') ;

 } */
 /* .card2{
    background-image: url('bug.jpg') ;

 }
 .card3{
    background-image: url('QUALITY.jpg') ;

 }
 .card4{
    background-image: url('tools.jpg') ;

 } */

 .info{
    padding-top: 70px;
    padding-left: 45%;
    align-items: center;
    color: rgb(255, 255, 255);
}
nav ul li .sqa_dd{
    display: none;
}

 nav ul li:hover .sqa_dd {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: -15px;
    text-align: center;
    justify-content: center;
    top: 100%;
    background-color: rgb(98, 123, 197);
    height: auto;
    text-align: center;
    width: auto;
    /* color: rgb(10, 9, 6); */
}

nav ul li:hover .sqa_dd ul
{    display: block;
    /* background-color: rgb(0, 0, 0); */
    padding: 10px;
    /* border: 1px solid #ddd; */
}
nav ul li:hover .sqa_dd ul li{
   width: 170px;
   padding: 15px;
   line-height: 40px;

   /* color: #000; */
   list-style:none;
   /* left: -10px; */
   /* border-bottom: 5px solid #110000; */
}
/* nav ul li:hover .sqa_dd ul li:nth-child(even) {
    background: rgb(100, 100, 86);
  } */
/* nav ul li:hover .sqa_dd ul li:last-child {
  border-bottom: none
} */
